DATABASE_URL=postgresql://neondb_owner:npg_5wSmzKsOpak9@ep-purple-poetry-azyxzyvk-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=a665871fb84d8903b81047f760627e561a2f8719c5bd9204f34066162fdf424a

SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_16_digit_app_password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
