* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #FAFBFC;
  color: #1F2937;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}